-# frozen_string_literal: true
= simple_form_for([:admins, @lane]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :user_id, collection: User.all, label_method: :name, value_method: :id, input_html: { class: 'selectpicker' }

  .form-actions
    = f.button :submit
