%h1
.row
  .col-md-12
    .card
      .card-header
        %h4.card-title Editing lane
      .card-body
        = render 'form'

        = link_to 'Show', admins_lane_path(@lane)
        \|
        = link_to 'Back', admins_lanes_path
