.row
  .col-lg-12
    .card
      .card-header
        %h4.card-title Listing Lanes
        %p.card-category Setup countries matching
      .card-body
        = link_to 'New Lane', new_admins_lane_path
        %table.table.table-striped.datatable
          %thead
            %tr
              %th Name
              %th Description
              %th User
              %th
              %th
              %th

          %tbody
            - @lanes.each do |lane|
              %tr
                %td= lane.name
                %td= lane.description
                %td= lane.user.name
                %td= link_to 'Show', admins_lane_path(lane)
                %td= link_to 'Edit', edit_admins_lane_path(lane)
                %td= link_to 'Destroy', admins_lane_path(lane), method: :delete, data: { confirm: 'Are you sure?' }

