
.row
  .col-lg-12
    .card
      .card-header
        %h4.card-title Lane detail
        %p.card-category Lane has many rounds and each round has two sets.
      .card-body

        %p
          %b Name:
          = @lane.name
        %p
          %b Description:
          = @lane.description
        %p
          %b User manage the scoreboard:
          = @lane.user.name

        = link_to 'Edit', edit_admins_lane_path(@lane)
        \|
        = link_to 'Back', admins_lanes_path
