-# frozen_string_literal: true
= simple_form_for([:admins, @round]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :lane, input_html: { class: 'selectpicker' }
    = f.input :event_name, collection: Round::EVENT_NAMES, input_html: { class: 'selectpicker' }
    = f.input :date, input_html: { class: '' }
    .row
      .col-12
        %label{ for: "country" } Match countries
    .row
      .col-xs-6.col-sm-6.col-md-6
        = f.association :player1, collection: Country.all.map{ |c| [c.full_name, c.id, { data: { icon: c.flag } }] }, input_html: { min: '0', class: 'form-control select2 selectpicker', 'data-live-search': 'true' }

      .col-xs-6.col-sm-6.col-md-6
        = f.association :player2, collection: Country.all.map{ |c| [c.full_name, c.id, { data: { icon: c.flag } }] },  input_html: { min: '0', class: 'form-control select2 selectpicker', 'data-live-search': 'true' }

    = f.simple_fields_for :player_rounds do |pr|
      = pr.hidden_field :winner
      .row
        .col-xs-12.col-sm-12.col-md-12.text-center
          = pr.label :set, "SET #{pr.object.set}", class: 'text-center', style: 'font-size: 2em'
          = pr.hidden_field :set, label: false
      .row
        .col-xs-6.col-sm-6.col-md-6
          = pr.label :player1_score
          .player1-score-wrapper
            %button.btn.btn-icon.btn-simple.btn-github{ data: { operator: '-', input_id: "player1-score-set-#{pr.object.set}" } }
              %i.fas.fa-minus-circle.fa-2x
            %div{ id: "player1-score-set-#{pr.object.set}" }
              %span= pr.object.player1_score
            = pr.input :player1_score, label: false, input_html: { id: "player1-score-set-#{pr.object.set}", type: 'hidden' }
            %button.btn.btn-icon.btn-simple.btn-github{ data: { operator: '+', input_id: "player1-score-set-#{pr.object.set}" } }
              %i.fas.fa-plus-circle.fa-2x
        .col-xs-6.col-sm-6.col-md-6
          = pr.label :player2_score
          .player2-score-wrapper
            %button.btn.btn-icon.btn-simple.btn-github{ data: { operator: '-', input_id: "player2-score-set-#{pr.object.set}" } }
              %i.fas.fa-minus-circle.fa-2x
            %div{ id: "player2-score-set-#{pr.object.set}" }
              %span= pr.object.player2_score
            = pr.input :player2_score, label: false, input_html: { id: "player2-score-set-#{pr.object.set}", type: 'hidden' }
            %button.btn.btn-icon.btn-simple.btn-github{ data: { operator: '+', input_id: "player2-score-set-#{pr.object.set}" } }
              %i.fas.fa-plus-circle.fa-2x
  %hr/
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
