%h1
.row
  .col-md-12
    .card
      .card-header
        %h4.card-title Editing round
      .card-body
        = render 'form'

        = link_to 'Show', admins_round_path(@round)
        \|
        = link_to 'Back', admins_rounds_path
