.row
  .col-lg-12
    .card
      .card-header
        %h4.card-title Listing rounds
        %p.card-category Round has many sets and each set must has two countries to join.
      .card-body
        = link_to 'New Round', new_admins_round_path
        %table.table.table-striped.datatable
          %thead
            %tr
              %th Lane
              %th Event name
              %th Date
              %th
              %th
              %th

          %tbody
            - @rounds.each do |round|
              %tr
                %td= round.lane.name
                %td= round.event_name
                %td= round.date
                %td= link_to 'Show', admins_round_path(round)
                %td= link_to 'Edit', edit_admins_round_path(round)
                %td= link_to 'Destroy', admins_round_path(round), method: :delete, data: { confirm: 'Are you sure?' }
