.row
  .col-lg-12
    .card
      .card-header
        %h4.card-title Lane detail
        %p.card-category Lane has many rounds and each round has two sets.
      .card-body
        %p
          %b Lane:
          = @round.lane.name
        %p
          %b Event name:
          = @round.event_name
        %p
          %b Date:
          = @round.date

        = link_to 'Edit', edit_admins_round_path(@round)
        \|
        = link_to 'Back', admins_rounds_path
