= simple_form_for(resource, as: resource_name, url: user_session_path, input_html: { class: 'form', autocomplete: 'off' }) do |f|
  .card.card-login.card-white
    = image_pack_tag 'pt_logo_small.png'
    .card-header
      = image_pack_tag "card-primary.png"
      %h1.card-title Log in
    .card-body
      .input-group
        .input-group-prepend
          .input-group-text
            %i.tim-icons.icon-email-85
        = f.input :email, label: false, wrapper: false, autofocus: true, placeholder: "Email", input_html: { class: '', autocomplete: "email" }
      .input-group
        .input-group-prepend
          .input-group-text
            %i.tim-icons.icon-lock-circle
        = f.input :password, label: false, wrapper: false, placeholder: "Password", input_html: { class: '' }
    .card-footer
      = f.button :submit, "Log in", class: 'btn btn-primary btn-lg btn-block mb-3'
      .pull-left
        - if devise_mapping.confirmable? && controller_name != 'confirmations'
          %h6
            = link_to "Didn't receive confirmation instructions?", new_user_confirmation_path(resource_name), class: 'link footer-link'
      .pull-right
        - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
          %h6
            = link_to "Need Help?", new_user_password_path(resource_name), class: 'link footer-link'
      =# render "users/shared/links"
