-# frozen_string_literal: true
= simple_form_for([current_user, @round], html: { id: 'round-form' }) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :lane, input_html: { class: 'selectpicker' }
    = f.input :event_name, collection: Round::EVENT_NAMES, input_html: { class: 'selectpicker' }
    = f.input :date, input_html: { class: '' }
    .row
      .col-12
        %label{ for: "country" } Match countries
    .row
      .col-xs-6.col-sm-6.col-md-6
        = f.association :player1, collection: Country.all.map{ |c| [c.full_name, c.id, { data: { icon: c.flag } }] }, input_html: { min: '0', class: 'form-control select2 selectpicker', 'data-live-search': 'true' }

      .col-xs-6.col-sm-6.col-md-6
        = f.association :player2, collection: Country.all.map{ |c| [c.full_name, c.id, { data: { icon: c.flag } }] },  input_html: { min: '0', class: 'form-control select2 selectpicker', 'data-live-search': 'true' }

    .text-center
      %button#btn-play-timer.btn-icon.btn-simple.btn-github.text-light
        Start timer
        %i.fas.fa-play

    = f.simple_fields_for :player_rounds do |pr|
      .row
        .col-xs-12.col-sm-12.col-md-12.text-center
          %hr/
          = pr.label :set, "SET #{pr.object.set}", class: 'text-center', style: 'font-size: 2em'
          = pr.hidden_field :set, label: false
          .row
            .col-xs-6.col-sm-6.col-md-6.text-center
              .form-check.form-check-radio
                %label.form-check-label
                  %input.form-check-input{ checked: pr.object.winner_id == @round.player1_id && "checked", :name => "round[player_rounds_attributes][#{pr.index}][winner_id]", :type => "radio", :value => "#{@round.player1_id}", data: { country_name: @round.player1.full_name, index:  pr.index } }/
                  %span.form-check-sign
                  = @round.player1.full_name
                  the winner
            .col-xs-6.col-sm-6.col-md-6.text-center
              .form-check.form-check-radio
                %label.form-check-label
                  %input.form-check-input{ checked: pr.object.winner_id == @round.player2_id && "checked", :name => "round[player_rounds_attributes][#{pr.index}][winner_id]", :type => "radio", :value => "#{@round.player2_id}", data: { country_name: @round.player2.full_name, index: pr.index } }/
                  %span.form-check-sign
                  = @round.player2.full_name
                  the winner
      .row
        .col-xs-6.col-sm-6.col-md-6
          = pr.label :player1_score
          .player1-score-wrapper
            %button.btn.btn-icon.btn-simple.btn-github{ data: { operator: '-', input_id: "player1-score-set-#{pr.object.set}", index: pr.index } }
              %i.fas.fa-minus-circle.fa-2x
            %div{ id: "player1-score-set-#{pr.object.set}" }
              %span= pr.object.player1_score
            = pr.input :player1_score, label: false, input_html: { id: "player1-score-set-#{pr.object.set}", type: 'hidden' }
            %button.btn.btn-icon.btn-simple.btn-github{ data: { operator: '+', input_id: "player1-score-set-#{pr.object.set}", index: pr.index } }
              %i.fas.fa-plus-circle.fa-2x
        .col-xs-6.col-sm-6.col-md-6
          = pr.label :player2_score
          .player2-score-wrapper
            %button.btn.btn-icon.btn-simple.btn-github{ data: { operator: '-', input_id: "player2-score-set-#{pr.object.set}", index: pr.index } }
              %i.fas.fa-minus-circle.fa-2x
            %div{ id: "player2-score-set-#{pr.object.set}" }
              %span= pr.object.player2_score
            = pr.input :player2_score, label: false, input_html: { id: "player2-score-set-#{pr.object.set}", type: 'hidden' }
            %button.btn.btn-icon.btn-simple.btn-github{ data: { operator: '+', input_id: "player2-score-set-#{pr.object.set}", index: pr.index } }
              %i.fas.fa-plus-circle.fa-2x
  %hr/
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
