.row
  .col-md-12
    .card
      .card-header
        %h4.card-title Editing round
      .card-body#round-edit
        = render 'form'

        = link_to 'Show', user_round_path(current_user, @round)
        \|
        = link_to 'Back', user_rounds_path(current_user)
