.row
  .col-lg-12
    .card
      .card-header
        %h4.card-title Listing rounds
        %p.card-category Round has many sets and each set must has two countries to join.
      .card-body
        %table.table.table-striped.datatable
          %thead
            %tr
              %th Matching
              %th Counties
              %th Event name
              %th
              %th

          %tbody
            - @rounds.each do |round|
              %tr
                %td
                  %span{ class: "#{round.player1.flag}" }
                  VS
                  %span{ class: "#{round.player2.flag}" }
                %td
                  %strong= round.player1.full_name
                  VS
                  %strong= round.player2.full_name
                %td= round.event_name
                %td= link_to 'Show', user_round_path(current_user, round)
                %td= link_to 'Edit', edit_user_round_path(current_user, round)

