= content_for(:head_attributes) do
  data-resource-id="#{@round.id}"

.row{ id: "round-id-#{@round.id}" }
  .col-lg-12
    .card
      .card-header
        %h4.card-title Lane detail
        %p.card-category Lane has many rounds and each round has two sets.
      .card-body#fullscreen{ style: 'position: relative;' }
        %a.requestfullscreen.animated.pulse.delay-2s.float-right{:href => "#"}
          %i.fas.fa-compress.fa-2x
        .row
          .col-xs-4.col-md-4
            = image_pack_tag 'pt_logo_small.png', class: 'img-fluid', width: 350
          .col-xs-6.col-md-6
            %div#round-header{ data: { channel_subscribe: "round", round_id: @round.id } }
              %h1.child--featured.display-1.text-dark
                = "#{@round.lane.name} : #{@round.event_name}"

        %hr/
        .row
          .col-xs-5.col-md-5.text-center.country-name
            %div.flag-wrapper
              %span{ class: "#{@round.player1.flag}", style: 'font-size: 18em; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)' }
            %h1.country-name.text-dark.display-1.text-center= @round.player1.full_name.upcase
          .col-xs-2.col-md-2.text-center
            = image_pack_tag 'saperator.jpg', class: 'img-fluid', style: "height: 358px"
          .col-xs-5.col-md-5.text-center
            %div.flag-wrapper
              %span{ class: "#{@round.player2.flag}", style: 'font-size: 18em; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)' }
            %h1.country-name.text-dark.display-1.text-center= @round.player2.full_name.upcase
        .row
          .col-xs-5.col-md-5.text-center#winner1-indicator
            - @round.player_rounds.each_with_index do |pr, index|
              - if pr.winner_id == @round.player1.id
                %i.fas.fa-circle.text-info
          .col-xs-2.col-md-2.text-center
          .col-xs-5.col-md-5.text-center#winner2-indicator
            - @round.player_rounds.each_with_index do |pr, index|
              - if pr.winner_id == @round.player2.id
                %i.fas.fa-circle.text-info
        - @round.player_rounds.each_with_index do |pr, index|
          %div.wrapper-player-round{ class: pr.winner_id.present? && "d-none", id: "display-set-#{index}" }
            .row
              .col-xs-5.col-md-5.text-center
                %h1.text-danger.display-1.text-center{ id: "round-#{@round.id}-player-1-set-#{pr.set}", style: 'font-size: 10em;' }
                  = pr.player1_score
              .col-xs-2.col-md-2.text-center
              .col-xs-5.col-md-5.text-center
                %h1.text-danger.display-1.text-center{ id: "round-#{@round.id}-player-2-set-#{pr.set}", style: 'font-size: 10em;' }
                  = pr.player2_score
        .row
          .col-xs-12.col-md-12.text-center
            %div#round-time{ style: 'position: absolute; bottom: -100px; left: 39%;', data: { time: @round.date.strftime('%H:%M') } }
              %h1.text-dark TIME
              %div{ id: "count-up-clock-#{@round.id}" }


