= simple_form_for [:admins, @user], wrapper: :horizontal_form,  html: { novalidate: false, class: 'form-horizontal needs-validation form-group' } do |f|
  .row
    .col-xs-12.col-md-6
      = f.input :name
      = f.input :email
      = f.input :password, hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length), input_html: { autocomplete: "new-password", class: 'form-control' }
      = f.input :password_confirmation
      = f.input :phone_number
  .hr-line-dashed
  .form-group.row
    .col-sm-4.col-sm-offset-2.text-right
      %button.btn.btn-fill{:type => "submit"} Cancel
      = f.button :submit, class: 'btn btn-fill btn-primary'
