.row
  .col-md-12
    .card
      .card-header
        %h4.card-title Editing user
      .card-body
        = render 'form'

        = link_to 'Show', admins_user_path(@user)
        \|
        = link_to 'Back', admins_users_path
