.row
  .col-md-12
    .card
      .card-header
        %h4.card-title Listing users
      .card-body
        %table.table.table-striped.datatable
          %thead
            %tr
              %th Name
              %th Email
              %th Phone
              %th
              %th
              %th

          %tbody
            - @users.each do |user|
              %tr
                %td= user.name
                %td= user.email
                %td= user.phone_number
                %td= link_to 'Show', admins_user_path(user)
                %td= link_to 'Edit', edit_admins_user_path(user)
                %td= link_to 'Destroy', admins_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }

        %br

        = link_to 'New User', new_admins_user_path
