.row
  .col-md-8
    .card
      .card-header
        %h5.title Edit Profile
      .card-body
        %p
          %b Name:
          = @user.name
        %p
          %b Email:
          = @user.email
        %p
          %b Phone:
          = @user.phone_number

        = link_to 'Edit', edit_admins_user_path(@user)
        \|
        = link_to 'Back', admins_users_path

        = simple_form_for [:admins, @user],  html: { novalidate: false, class: 'form-horizontal needs-validation form-group' } do |f|
          .row
            .col-xs-12.col-md-6
              = f.input :name
              = f.input :email
              = f.input :password, hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length), input_html: { autocomplete: "new-password", class: 'form-control' }
              = f.input :password_confirmation
              = f.input :phone_number
              = f.button :submit, class: 'btn btn-fill btn-primary pull-right'
  .col-md-4
    .card.card-user
      .card-body
        %p.card-text
        .author
          .block.block-one
          .block.block-two
          .block.block-three
          .block.block-four
          %a{:href => "javascript:void(0)"}
            = image_pack_tag "emilyz.jpg", class: 'avatar'
            %h5.title Mike Andrew
          %p.description
            Ceo/Co-Founder
        .card-description
          Do not be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
      .card-footer
        .button-container
          %button.btn.btn-icon.btn-round.btn-facebook{:href => "javascript:void(0)"}
            %i.fab.fa-facebook
          %button.btn.btn-icon.btn-round.btn-twitter{:href => "javascript:void(0)"}
            %i.fab.fa-twitter
          %button.btn.btn-icon.btn-round.btn-google{:href => "javascript:void(0)"}
            %i.fab.fa-google-plus
