#datatable_length {
  display: inline-block;
  margin-right: 10px;
}

.bootstrap-select .dropdown-menu input[type="search"] {
  color: black;
}
body[id^='countries-'] {
  #flag-placeholder.flag-icon {
    font-size: 10em;
  }
  table.table {
    .action {
      a {
        margin-right: 5px;
      }
      svg {
        // margin-top: 6px;
      }
    }
  }
}
#countries-show {
  .card.card-testimonial {
    .card-header.card-header-avatar a span {
      margin-left: -50%;
    }
  }
}
