@import 'flipclock/dist/flipclock.css';
@import 'animate.css/animate.min.css';

body[id^='rounds-'] {

  div[id^='player'] {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #ccc;
    width: 60%;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player1-score-wrapper, .player2-score-wrapper {
    display: flex;
    // justify-content: space-around;
    justify-content: space-between;
    button, input {
      height: 100px;
      text-align: center;
    }
    input {
      font-size: 2em;
    }
    button {
      margin: 0px 1px;
      flex-grow: 1;
    }
    .form-control.is-valid, .was-validated .form-control:valid {
      background-image: none;
    }
  }

  h1.country-name {
    margin-bottom: 0 !important;
  }

  #round-time {
    h1 {
      margin: 0 auto;
    }
  }

  #fullscreen {
    position: relative;
    background-color: white;
    .flag-wrapper {
      border: 5px solid #ffffff;
      margin: 5px;
    }
    .requestfullscreen {
      right: 15px;
      top: -60px;
      position: absolute;
    }
  }

  #round-header {
    height: 100%;
    display: flex;
    position: relative;
    .child--featured {
      position: absolute;
      align-self: flex-end;
      bottom: 0;
    }
  }

  .wrapper-player-round {
    width: 100%;
  }

  .count-up-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
  }

  .congrats {
    position: absolute;
    top: 140px;
    width: 550px;
    height: 100px;
    padding: 20px 10px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;

    h1.congradulation-header {
      transform-origin: 50% 50%;
      font-size: 50px;
      font-family: 'Sigmar One', cursive;
      cursor: pointer;
      z-index: 2;
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
    }
  }

  .blob {
    height: 50px;
    width: 50px;
    color: #ffcc00;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;
    font-size: 30px;
    display: none;
  }

  .flipclock-wrapper span.flipclock-divider span.flipclock-label {
    display: none;
  }
}
