-# frozen_string_literal: true
= simple_form_for(@country) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    .row
      .col-12
        = f.label :flag
    %span#flag-placeholder{ class: @country.persisted? && "#{ @country.flag }" }
    - unless @country.persisted?
      = image_pack_tag 'icon-placeholder.png', id: 'image-placeholder', style: 'width: 160px; height: 120px;'
    .row
      .col-12
        = f.label :full_name, requre: true
    = f.country_select :full_name, { only: Country::NAMES.map{|country| country.last }, format: :with_data_attrs, include_blank: 'Select a country' }, { class: 'form-control select2 selectpicker', 'data-live-search': 'true' }
    = f.input :code
    = f.input :alpha2
    = f.input :alpha3
    %br
    = f.hidden_field :flag

  .form-actions
    = f.button :submit
