.row
  .col-md-12
    .card
      .card-header
        %h4.card-title Editing country
      .card-body

        = render 'form'

        = link_to 'Show', @country
        \|
        = link_to 'Back', countries_path
