.row
  .col-lg-12
    .card
      .card-header
        %h4.card-title Listing countries
        %p.card-category All Countries that join the Petanque World Championship in Cambodia
      .card-body
        .row
          .col-md-6
            = link_to 'New Country', new_country_path, class: 'btn btn-sm btn-primary float-right'
            .table-responsive
              %table.table
                %tbody
                  - @countries.each do |country|
                    %tr
                      %td
                        .flag
                          %span{ class: country.flag }
                      %td= country.full_name
                      %td.text-right
                        = country.alpha2
                      %td.text-right
                        = country.alpha3
                      %td.action.text-right
                        = link_to country, class: 'btn btn-sm btn-simple btn-github' do
                          %i.fas.fa-eye
                        = link_to edit_country_path(country), class: 'btn btn-sm btn-simple btn-twitter' do
                          %i.fas.fa-edit
                        = link_to country, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-simple btn-youtube' do
                          %i.fas.fa-trash-alt

          .col-md-6.ml-auto.mr-auto
            #worldMap{ style: "height: 300px;", data: { map: @countries.pluck(:alpha2, :code).to_h.to_json } }
