.row
  .col-xs-12.col-md-12
    .card.card-testimonial
      .card-header.card-header-avatar
        %a{:href => "javascript:void(0)"}
          %span{class: "#{@country.flag}", style: 'font-size: 10em;' }
      .card-body
        %p
          %b Full name:
          = @country.full_name
        %p
          %b Code:
          = @country.code
        %p
          %b Alpha2:
          = @country.alpha2
        %p
          %b Alpha3:
          = @country.alpha3
      .card-footer
        = link_to 'Edit', edit_country_path(@country)
        \|
        = link_to 'Back', countries_path

%hr/
.row
  .col-lg-6.col-sm-6.text-center
    .card.card-tasks.text-left
      .card-header
        %h6.title.d-inline Tasks(5)
        %p.card-category.d-inline today
        .dropdown
          %button.btn.btn-link.dropdown-toggle.btn-icon{"data-toggle" => "dropdown", :type => "button"}
            %i.tim-icons.icon-settings-gear-63
          .dropdown-menu.dropdown-menu-right
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"} Another action
            %a.dropdown-item{:href => "#"} Something else here
      .card-body
        .table-full-width.table-responsive
          %table.table
            %tbody
              %tr
                %td
                  .form-check
                    %label.form-check-label
                      %input.form-check-input{:type => "checkbox", :value => ""}/
                      %span.form-check-sign
                        %span.check
                %td
                  %p.title Update the Documentation
                  %p.text-muted Dwuamish Head, Seattle, WA 8:47 AM
                %td.td-actions.text-right
                  %button.btn.btn-link{"data-original-title" => "Edit Task", :rel => "tooltip", :title => "", :type => "button"}
                    %i.tim-icons.icon-settings
              %tr
                %td
                  .form-check
                    %label.form-check-label
                      %input.form-check-input{:checked => "checked", :type => "checkbox", :value => ""}/
                      %span.form-check-sign
                        %span.check
                %td
                  %p.title GDPR Compliance
                  %p.text-muted Alki Ave SW, Seattle, WA 98116, SUA 12:29 PM
                %td.td-actions.text-right
                  %button.btn.btn-link{"data-original-title" => "Edit Task", :rel => "tooltip", :title => "", :type => "button"}
                    %i.tim-icons.icon-settings
              %tr
                %td
                  .form-check
                    %label.form-check-label
                      %input.form-check-input{:type => "checkbox", :value => ""}/
                      %span.form-check-sign
                        %span.check
                %td
                  %p.title Export the processed files
                  %p.text-muted Capitol Hill, Seattle, WA 12:34 AM
                %td.td-actions.text-right
                  %button.btn.btn-link{"data-original-title" => "Edit Task", :rel => "tooltip", :title => "", :type => "button"}
                    %i.tim-icons.icon-settings
              %tr
                %td
                  .form-check
                    %label.form-check-label
                      %input.form-check-input{:type => "checkbox", :value => ""}/
                      %span.form-check-sign
                        %span.check
                %td
                  %p.title Release v2.0.0
                  %p.text-muted Ra Ave SW, Seattle, WA 98116, SUA 11:19 AM
                %td.td-actions.text-right
                  %button.btn.btn-link{"data-original-title" => "Edit Task", :rel => "tooltip", :title => "", :type => "button"}
                    %i.tim-icons.icon-settings
              %tr
                %td
                  .form-check
                    %label.form-check-label
                      %input.form-check-input{:type => "checkbox", :value => ""}/
                      %span.form-check-sign
                        %span.check
                %td
                  %p.title Solve the issues
                  %p.text-muted Caption Hill, LA 12:34 AM
                %td.td-actions.text-right
                  %button.btn.btn-link{"data-original-title" => "Edit Task", :rel => "tooltip", :title => "", :type => "button"}
                    %i.tim-icons.icon-settings
              %tr
                %td
                  .form-check
                    %label.form-check-label
                      %input.form-check-input{:type => "checkbox", :value => ""}/
                      %span.form-check-sign
                        %span.check
                %td
                  %p.title Arival at export process
                  %p.text-muted Capitol Hill, Seattle, WA 12:34 AM
                %td.td-actions.text-right
                  %button.btn.btn-link{"data-original-title" => "Edit Task", :rel => "tooltip", :title => "", :type => "button"}
                    %i.tim-icons.icon-settings

  .col-lg-6.col-sm-6
    .card.card-timeline.card-plain
      .card-body
        %ul.timeline.timeline-simple
          %li.timeline-inverted
            .timeline-badge.danger
              %i.tim-icons.icon-bag-16
            .timeline-panel
              .timeline-heading
                %span.badge.badge-danger Some Title
              .timeline-body
                %p Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme !!! It was a fun night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in downtown.
              %h6
                %i.ti-time
                11 hours ago via Twitter
          %li.timeline-inverted
            .timeline-badge.success
              %i.tim-icons.icon-gift-2
            .timeline-panel
              .timeline-heading
                %span.badge.badge-success Another One
              .timeline-body
                %p Thank God for the support of my wife and real friends. I also wanted to point out that it’s the first album to go number 1 off of streaming!!! I love you Ellen and also my number one design rule of anything I do from shoes to music to homes is that Kim has to like it....
          %li.timeline-inverted
            .timeline-badge.info
              %i.tim-icons.icon-planet
            .timeline-panel
              .timeline-heading
                %span.badge.badge-info Another Title
              .timeline-body
                %p Called I Miss the Old Kanye That’s all it was Kanye And I love you like Kanye loves Kanye Famous viewing @ Figueroa and 12th in downtown LA 11:10PM
                %p What if Kanye made a song about Kanye Royère doesn't make a Polar bear bed but the Polar bear couch is my favorite piece of furniture we own It wasn’t any Kanyes Set on his goals Kanye
                %hr/
              .timeline-footer
                .dropdown
                  %button.btn.btn-round.btn-info.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                    %i.tim-icons.icon-bullet-list-67
                  .dropdown-menu
                    %a.dropdown-item{:href => "#"} Action
                    %a.dropdown-item{:href => "#"} Another action
                    %a.dropdown-item{:href => "#"} Something else here
