%footer.footer
  .container-fluid
    %ul.nav
      %li.nav-item
        %a.nav-link{:href => "javascript:void(0)"}
          Creative Tim
      %li.nav-item
        %a.nav-link{:href => "javascript:void(0)"}
          About Us
      %li.nav-item
        %a.nav-link{:href => "javascript:void(0)"}
          Blog
    .copyright
      ©
      %span#footer-year
      made with
      %i.tim-icons.icon-heart-2
      by
      %a{:href => "javascript:void(0)", :target => "_blank"} Webuilder Team
      for a better web.
