.sidebar-wrapper
  .logo
    %a.simple-text.logo-mini{:href => "javascript:void(0)"}
      CP
    %a.simple-text.logo-normal{:href => "javascript:void(0)"}
      Cambodia Petanque
  %ul.nav
    - if current_admin
      %li{ class: "#{is_active_controller('dashboards')}" }
        = link_to admins_dashboard_path do
          %i.tim-icons.icon-chart-pie-36
          %p Dashboard
      %li{ :class => "#{is_active_controller('users')}" }
        = link_to admins_users_path do
          %i.tim-icons.icon-single-02
          %p Users
      %li{ :class => "#{is_active_controller('countries')}" }
        = link_to admins_countries_path do
          %i.tim-icons.icon-world
          %p Countries
      %li
        %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#matchingSetting"}
          %i.tim-icons.icon-settings
          %p
            Matches
            %b.caret
        #matchingSetting.collapse
          %ul.nav
            %li
              = link_to admins_lanes_path, class: "#{is_active_controller('lanes')}" do
                %span.sidebar-mini-icon L
                %span.sidebar-normal Lanes
            %li
              = link_to admins_rounds_path, class: "#{is_active_controller('rounds')}" do
                %span.sidebar-mini-icon R
                %span.sidebar-normal Rounds
            %li
              %a{:href => ""}
                %span.sidebar-mini-icon T
                %span.sidebar-normal Timeline
            %li
              %a{:href => ""}
                %span.sidebar-mini-icon L
                %span.sidebar-normal Login
            %li
              %a{:href => ""}
                %span.sidebar-mini-icon R
                %span.sidebar-normal Register
            %li
              %a{:href => ""}
                %span.sidebar-mini-icon LS
                %span.sidebar-normal Lock Screen
            %li
              %a{:href => ""}
                %span.sidebar-mini-icon UP
                %span.sidebar-normal User Profile
    - elsif current_user
      %li
        = link_to user_rounds_path(current_user), class: "#{is_active_controller('rounds')}" do
          %i.tim-icons.icon-world
          %p Rounds
    %li
      %a{"data-toggle" => "collapse", :href => "#mapsExamples"}
        %i.tim-icons.icon-pin
        %p
          Maps
          %b.caret
      #mapsExamples.collapse
        %ul.nav
          %li
            %a{:href => ""}
              %span.sidebar-mini-icon GM
              %span.sidebar-normal Google Maps
          %li
            %a{:href => ""}
              %span.sidebar-mini-icon FM
              %span.sidebar-normal Full Screen Map
          %li
            %a{:href => ""}
              %span.sidebar-mini-icon VM
              %span.sidebar-normal Vector Map

    %li
      %a{:href => ""}
        %i.tim-icons.icon-chart-bar-32
        %p Charts
    %li
      %a{:href => ""}
        %i.tim-icons.icon-time-alarm
        %p Calendar
