.navbar-minimize-fixed
  %button.minimize-sidebar.btn.btn-link.btn-just-icon
    %i.tim-icons.icon-align-center.visible-on-sidebar-regular.text-muted
    %i.tim-icons.icon-bullet-list-67.visible-on-sidebar-mini.text-muted
