!!!
%html{:lang => "en"}
  %head
    = action_cable_meta_tag
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    %title PtcScoreboard
    = csrf_meta_tags
    = csp_meta_tag

    / Fonts and icons
    %link{:href => "https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800", :rel => "stylesheet"}/

    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body{ 'data-gr-c-s-loaded': true, id: "#{controller_name}-#{action_name}" }
    .wrapper{ data: { notice: notice, alert: alert } }
      / Main navbar
      = render 'layouts/main_navbar'
      .sidebar{ data: '' }
        / Main sidebar
        = render 'layouts/left_sidebar'
      / Main Panel
      .main-panel{ data: '' }
        / Nav bar
        = render 'layouts/navbar'
        / Content area
        .content
          = yield
        = render 'layouts/footer'

= javascript_pack_tag controller_name, 'data-turbolinks-track': 'reload'

