!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    %title PtcScoreboard
    = csrf_meta_tags
    = csp_meta_tag

    / Fonts and icons
    %link{:href => "https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800", :rel => "stylesheet"}/

    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body.login-page
    / Navbar
    %nav.navbar.navbar-expand-lg.navbar-absolute.navbar-transparent.fixed-top
      .container-fluid
        .navbar-wrapper
          .navbar-toggle.d-inline
            %button.navbar-toggler{:type => "button"}
              %span.navbar-toggler-bar.bar1
              %span.navbar-toggler-bar.bar2
              %span.navbar-toggler-bar.bar3
          %a.navbar-brand{:href => "javascript:void(0)"} Login Page
        %button.navbar-toggler{"aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navigation", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-bar.navbar-kebab
          %span.navbar-toggler-bar.navbar-kebab
          %span.navbar-toggler-bar.navbar-kebab
        #navigation.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item
              %a.nav-link.text-primary{:href => "#{root_path}"}
                %i.tim-icons.icon-minimal-left
                Back to Dashboard
            %li.nav-item
              = link_to new_user_session_path, class: 'nav-link' do
                %i.tim-icons.icon-single-02
                Login
            %li.nav-item
              %a.nav-link{:href => "lock.html"}
                %i.tim-icons.icon-lock-circle
                Lock
    #searchModal.modal.modal-search.fade{"aria-hidden" => "true", "aria-labelledby" => "searchModal", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %input#inlineFormInputGroup.form-control{:placeholder => "SEARCH", :type => "text"}/
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %i.tim-icons.icon-simple-remove
    / End Navbar
    .wrapper.wrapper-full-page{ data: { notice: notice, alert: alert } }
      .full-page.login-page
        / you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose "
        .content
          .container
            .col-lg-4.col-md-6.ml-auto.mr-auto
              = yield
        %footer.footer
          .container-fluid
            %ul.nav
              %li.nav-item
                %a.nav-link{:href => "javascript:void(0)"}
                  Creative Tim
              %li.nav-item
                %a.nav-link{:href => "javascript:void(0)"}
                  About Us
              %li.nav-item
                %a.nav-link{:href => "javascript:void(0)"}
                  Blog
            .copyright
              ©
              :javascript
                document.write(new Date().getFullYear())
              made with
              %i.tim-icons.icon-heart-2
              by
              %a{:href => "javascript:void(0)", :target => "_blank"} Creative Tim
              for a better web.
    }


