.row
  .col-12
    .card.card-chart
      .card-header
        .row
          .col-sm-6.text-left
            %h5.card-category Total Shipments
            %h2.card-title Performance
          .col-sm-6
            .btn-group.btn-group-toggle.float-right{"data-toggle" => "buttons"}
              %label#0.btn.btn-sm.btn-primary.btn-simple.active
                %input{:checked => "checked", :name => "options", :type => "radio"}/
                %span.d-none.d-sm-block.d-md-block.d-lg-block.d-xl-block Accounts
                %span.d-block.d-sm-none
                  %i.tim-icons.icon-single-02
              %label#1.btn.btn-sm.btn-primary.btn-simple
                %input.d-none.d-sm-none{:name => "options", :type => "radio"}/
                %span.d-none.d-sm-block.d-md-block.d-lg-block.d-xl-block Purchases
                %span.d-block.d-sm-none
                  %i.tim-icons.icon-gift-2
              %label#2.btn.btn-sm.btn-primary.btn-simple
                %input.d-none{:name => "options", :type => "radio"}/
                %span.d-none.d-sm-block.d-md-block.d-lg-block.d-xl-block Sessions
                %span.d-block.d-sm-none
                  %i.tim-icons.icon-tap-02
      .card-body
        .chart-area
          %canvas#chartBig1
  .col-lg-3.col-md-6
    .card.card-stats
      .card-body
        .row
          .col-5
            .info-icon.text-center.icon-warning
              %i.tim-icons.icon-chat-33
          .col-7
            .numbers
              %p.card-category Number
              %h3.card-title 150GB
      .card-footer
        %hr/
        .stats
          %i.tim-icons.icon-refresh-01
          Update Now
  .col-lg-3.col-md-6
    .card.card-stats
      .card-body
        .row
          .col-5
            .info-icon.text-center.icon-primary
              %i.tim-icons.icon-shape-star
          .col-7
            .numbers
              %p.card-category Followers
              %h3.card-title +45k
      .card-footer
        %hr/
        .stats
          %i.tim-icons.icon-sound-wave
          Last Research
  .col-lg-3.col-md-6
    .card.card-stats
      .card-body
        .row
          .col-5
            .info-icon.text-center.icon-success
              %i.tim-icons.icon-single-02
          .col-7
            .numbers
              %p.card-category Users
              %h3.card-title 150,000
      .card-footer
        %hr/
        .stats
          %i.tim-icons.icon-trophy
          Customers feedback
  .col-lg-3.col-md-6
    .card.card-stats
      .card-body
        .row
          .col-5
            .info-icon.text-center.icon-danger
              %i.tim-icons.icon-molecule-40
          .col-7
            .numbers
              %p.card-category Errors
              %h3.card-title 12
      .card-footer
        %hr/
        .stats
          %i.tim-icons.icon-watch-time
          In the last hours
  .col-lg-4
    .card.card-chart
      .card-header
        %h5.card-category Total Shipments
        %h3.card-title
          %i.tim-icons.icon-bell-55.text-primary
          763,215
      .card-body
        .chart-area
          %canvas#chartLinePurple
  .col-lg-4
    .card.card-chart
      .card-header
        %h5.card-category Daily Sales
        %h3.card-title
          %i.tim-icons.icon-delivery-fast.text-info
          3,500€
      .card-body
        .chart-area
          %canvas#CountryChart
  .col-lg-4
    .card.card-chart
      .card-header
        %h5.card-category Completed Tasks
        %h3.card-title
          %i.tim-icons.icon-send.text-success
          12,100K
      .card-body
        .chart-area
          %canvas#chartLineGreen
.row
  .col-lg-5
    .card.card-tasks
      .card-header
        %h6.title.d-inline Tasks(5)
        %p.card-category.d-inline today
        .dropdown
          %button.btn.btn-link.dropdown-toggle.btn-icon{"data-toggle" => "dropdown", :type => "button"}
            %i.tim-icons.icon-settings-gear-63
          .dropdown-menu.dropdown-menu-right
            %a.dropdown-item{:href => "#pablo"} Action
            %a.dropdown-item{:href => "#pablo"} Another action
            %a.dropdown-item{:href => "#pablo"} Something else
      .card-body
        .table-full-width.table-responsive
          %table.table
            %tbody
              %tr
                %td
                  .form-check
                    %label.form-check-label
                      %input.form-check-input{:type => "checkbox", :value => ""}/
                      %span.form-check-sign
                        %span.check
                %td
                  %p.title Update the Documentation
                  %p.text-muted Dwuamish Head, Seattle, WA 8:47 AM
                %td.td-actions.text-right
                  %button.btn.btn-link{"data-original-title" => "Edit Task", :rel => "tooltip", :title => "", :type => "button"}
                    %i.tim-icons.icon-pencil
              %tr
                %td
                  .form-check
                    %label.form-check-label
                      %input.form-check-input{:checked => "checked", :type => "checkbox", :value => ""}/
                      %span.form-check-sign
                        %span.check
                %td
                  %p.title GDPR Compliance
                  %p.text-muted The GDPR is a regulation that requires businesses to protect the personal data and privacy of Europe citizens for transactions that occur within EU member states.
                %td.td-actions.text-right
                  %button.btn.btn-link{"data-original-title" => "Edit Task", :rel => "tooltip", :title => "", :type => "button"}
                    %i.tim-icons.icon-pencil
              %tr
                %td
                  .form-check
                    %label.form-check-label
                      %input.form-check-input{:type => "checkbox", :value => ""}/
                      %span.form-check-sign
                        %span.check
                %td
                  %p.title Solve the issues
                  %p.text-muted Fifty percent of all respondents said they would be more likely to shop at a company
                %td.td-actions.text-right
                  %button.btn.btn-link{"data-original-title" => "Edit Task", :rel => "tooltip", :title => "", :type => "button"}
                    %i.tim-icons.icon-pencil
              %tr
                %td
                  .form-check
                    %label.form-check-label
                      %input.form-check-input{:type => "checkbox", :value => ""}/
                      %span.form-check-sign
                        %span.check
                %td
                  %p.title Release v2.0.0
                  %p.text-muted Ra Ave SW, Seattle, WA 98116, SUA 11:19 AM
                %td.td-actions.text-right
                  %button.btn.btn-link{"data-original-title" => "Edit Task", :rel => "tooltip", :title => "", :type => "button"}
                    %i.tim-icons.icon-pencil
              %tr
                %td
                  .form-check
                    %label.form-check-label
                      %input.form-check-input{:type => "checkbox", :value => ""}/
                      %span.form-check-sign
                        %span.check
                %td
                  %p.title Export the processed files
                  %p.text-muted The report also shows that consumers will not easily forgive a company once a breach exposing their personal data occurs.
                %td.td-actions.text-right
                  %button.btn.btn-link{"data-original-title" => "Edit Task", :rel => "tooltip", :title => "", :type => "button"}
                    %i.tim-icons.icon-pencil
              %tr
                %td
                  .form-check
                    %label.form-check-label
                      %input.form-check-input{:type => "checkbox", :value => ""}/
                      %span.form-check-sign
                        %span.check
                %td
                  %p.title Arival at export process
                  %p.text-muted Capitol Hill, Seattle, WA 12:34 AM
                %td.td-actions.text-right
                  %button.btn.btn-link{"data-original-title" => "Edit Task", :rel => "tooltip", :title => "", :type => "button"}
                    %i.tim-icons.icon-pencil
  .col-lg-7
    .card
      .card-header
        .tools.float-right
          .dropdown
            %button.btn.btn-link.dropdown-toggle.btn-icon{"data-toggle" => "dropdown", :type => "button"}
              %i.tim-icons.icon-settings-gear-63
            .dropdown-menu.dropdown-menu-right
              %a.dropdown-item{:href => "#pablo"} Action
              %a.dropdown-item{:href => "#pablo"} Another action
              %a.dropdown-item{:href => "#pablo"} Something else
              %a.dropdown-item.text-danger{:href => "#pablo"} Remove Data
        %h5.card-title Management Table
      .card-body
        .table-responsive
          %table.table
            %thead.text-primary
              %tr
                %th.text-center
                  \#
                %th
                  Name
                %th
                  Job Position
                %th
                  Milestone
                %th.text-right
                  Salary
                %th.text-right
                  Actions
            %tbody
              %tr
                %td.text-center
                  .photo
                    = image_pack_tag 'tania.jpg'
                %td
                  Tania Mike
                %td
                  Develop
                %td.text-center
                  .progress-container.progress-sm
                    .progress
                      %span.progress-value 25%
                      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 25%;"}
                %td.text-right
                  € 99,225
                %td.text-right
                  %button.btn.btn-success.btn-link.btn-icon.btn-sm.btn-simple{"data-original-title" => "Tooltip on top", :rel => "tooltip", :title => "Refresh", :type => "button"}
                    %i.tim-icons.icon-refresh-01
                  %button.btn.btn-danger.btn-link.btn-icon.btn-sm.btn-simple{"data-original-title" => "Tooltip on top", :rel => "tooltip", :title => "Delete", :type => "button"}
                    %i.tim-icons.icon-simple-remove
              %tr
                %td.text-center
                  .photo
                    = image_pack_tag 'robi.jpg'
                %td
                  John Doe
                %td
                  CEO
                %td.text-center
                  .progress-container.progress-sm
                    .progress
                      %span.progress-value 77%
                      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 77%;"}
                %td.text-right
                  € 89,241
                %td.text-right
                  %button.btn.btn-success.btn-link.btn-sm.btn-icon.btn-simple{"data-original-title" => "Tooltip on top", :rel => "tooltip", :title => "Refresh", :type => "button"}
                    %i.tim-icons.icon-refresh-01
                  %button.btn.btn-danger.btn-link.btn-sm.btn-icon.btn-simple{"data-original-title" => "Tooltip on top", :rel => "tooltip", :title => "Delete", :type => "button"}
                    %i.tim-icons.icon-simple-remove
              %tr
                %td.text-center
                  .photo
                    = image_pack_tag 'lora.jpg'
                %td
                  Alexa Mike
                %td
                  Design
                %td.text-center
                  .progress-container.progress-sm
                    .progress
                      %span.progress-value 41%
                      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 41%;"}
                %td.text-right
                  € 92,144
                %td.text-right
                  %button.btn.btn-success.btn-link.btn-icon.btn-sm.btn-simple{"data-original-title" => "Tooltip on top", :rel => "tooltip", :title => "Refresh", :type => "button"}
                    %i.tim-icons.icon-refresh-01
                  %button.btn.btn-danger.btn-link.btn-icon.btn-sm.btn-simple{"data-original-title" => "Tooltip on top", :rel => "tooltip", :title => "Delete", :type => "button"}
                    %i.tim-icons.icon-simple-remove
              %tr
                %td.text-center
                  .photo
                    = image_pack_tag 'jana.jpg'
                %td
                  Jana Monday
                %td
                  Marketing
                %td.text-center
                  .progress-container.progress-sm
                    .progress
                      %span.progress-value 50%
                      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 50%;"}
                %td.text-right
                  € 49,990
                %td.text-right
                  %button.btn.btn-success.btn-link.btn-sm.btn-icon{"data-original-title" => "Tooltip on top", :rel => "tooltip", :title => "Refresh", :type => "button"}
                    %i.tim-icons.icon-refresh-01
                  %button.btn.btn-danger.btn-link.btn-sm.btn-icon{"data-original-title" => "Tooltip on top", :rel => "tooltip", :title => "Delete", :type => "button"}
                    %i.tim-icons.icon-simple-remove
              %tr
                %td.text-center
                  .photo
                    = image_pack_tag 'mike.jpg'
                %td
                  Paul Dickens
                %td
                  Develop
                %td.text-center
                  .progress-container.progress-sm
                    .progress
                      %span.progress-value 100%
                      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 100%;"}
                %td.text-right
                  € 69,201
                %td.text-right
                  %button.btn.btn-success.btn-link.btn-sm.btn-icon{"data-original-title" => "Tooltip on top", :rel => "tooltip", :title => "Refresh", :type => "button"}
                    %i.tim-icons.icon-refresh-01
                  %button.btn.btn-danger.btn-link.btn-sm.btn-icon{"data-original-title" => "Tooltip on top", :rel => "tooltip", :title => "Delete", :type => "button"}
                    %i.tim-icons.icon-simple-remove
              %tr
                %td.text-center
                  .photo
                    = image_pack_tag 'emilyz.jpg'
                %td
                  Manuela Rico
                %td
                  Manager
                %td.text-center
                  .progress-container.progress-sm
                    .progress
                      %span.progress-value 15%
                      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 15%;"}
                %td.text-right
                  € 99,201
                %td.text-right
                  %button.btn.btn-success.btn-link.btn-sm.btn-icon{"data-original-title" => "Tooltip on top", :rel => "tooltip", :title => "Refresh", :type => "button"}
                    %i.tim-icons.icon-refresh-01
                  %button.btn.btn-danger.btn-link.btn-sm.btn-icon{"data-original-title" => "Tooltip on top", :rel => "tooltip", :title => "Delete", :type => "button"}
                    %i.tim-icons.icon-simple-remove
  .col-lg-12
    .card
      .card-header
        %h4.card-title Global Sales by Top Locations
        %p.card-category All products that were shipped
      .card-body
        .row
          .col-md-6
            .table-responsive
              %table.table
                %tbody
                  %tr
                    %td
                      .flag
                        = image_pack_tag 'US.png'
                    %td USA
                    %td.text-right
                      2.920
                    %td.text-right
                      53.23%
                  %tr
                    %td
                      .flag
                        = image_pack_tag 'DE.png'
                    %td Germany
                    %td.text-right
                      1.300
                    %td.text-right
                      20.43%
                  %tr
                    %td
                      .flag
                        = image_pack_tag 'AU.png'
                    %td Australia
                    %td.text-right
                      760
                    %td.text-right
                      10.35%
                  %tr
                    %td
                      .flag
                        = image_pack_tag 'GB.png'
                    %td United Kingdom
                    %td.text-right
                      690
                    %td.text-right
                      7.87%
                  %tr
                    %td
                      .flag
                        = image_pack_tag 'RO.png'
                    %td Romania
                    %td.text-right
                      600
                    %td.text-right
                      5.94%
                  %tr
                    %td
                      .flag
                        = image_pack_tag 'BR.png'
                    %td Brasil
                    %td.text-right
                      550
                    %td.text-right
                      4.34%
          .col-md-6.ml-auto.mr-auto
            #worldMap{:style => "height: 300px;"}
